<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400;900|Source+Sans+Pro:300,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" 
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <title>Owen Phakade Portfolio</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="/img/OwenPhakde.png" alt="">
        </div>
        <button class="nav-toggle" aria-label="toggle-navigation">
            <span class="hamburger"></span>
        </button>
        <div class="nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="#home" class="nav__link">home</a></li>
                <li class="nav__item"><a href="#services" class="nav__link">My services</a></li>
                <li class="nav__item"><a href="#about" class="nav__link">About me</a></li>
                <li class="nav__item"><a href="#work" class="nav__link">My work</a></li>
            </ul>
        </div>
    </header>

<!-- intrduction -->
    <section class="intro" id="home">
        <h1 class="section__title section__title--intro">
            Hi, I am <strong>Owen Phakade</strong> 
        </h1>
        <p class="section__subtitle section__subtitle--intro "> Full-Stack developer </p>
        <img src="/static/img/owendevpicture.jpg" alt="a picture Owen Phakade smiling" class="intro__img">
    </section>

<!-- My services -->
<section class="my-services" id="services">
    <h2 class="section__title section__title--services">What I do</h2>
    <div class="services">
        <div class="service">
            <h3>Backend development</h3>
            <p>Proficient use of Python, Flask or Django 
                in building secure payment processing systems
                and managing API resources which work accross all 
                devices. Proficient use of Postgres, Neo4j & their
                respective Relational Mappers to design database 
                systems that ensure safe storage and integrity of 
                user defined data. 
            </p>
        </div> <!-- services -->

        <div class="service">
            <h3>Frontend development</h3>
            <p>Ensure that all processes are investigated / considered in 
                obtaining the specifications of the user requirements. Propose
                and review system design and evaluate alternatives Review 
                and present proposed system solution to IT Project Manager / 
                Leader and User Management or System owner Develop systems 
                solutions in line with quality and delivery requirements </p>
        </div> <!-- services -->

        <div class="service">
            <h3>Development & Operations </h3>
            <p>Good understanding of Agile processes, practical experience 
                working with automated deployments, and source control, and 
                ability to code and script. I have good problem-solving and
                troubleshooting skills.I'm process-oriented with great 
                documentation skills. 6 months experience in administering and
                deploying development CI/CD tools.</p>
        </div> <!-- services -->
    </div>
    <a href="#work" class="btn">My work</a>
</section>

<!-- About me  -->
<section class="about-me" id="about">
    <h2 class="section__title section__title--about">Who I am</h2>
    <p class="section__subtitle section__subtitle--about">full stack developer based in Johannesburg.</p>  

    <div class="about-me__body">
        <p>I am a self-taught full stack developer with 2 years of web development experience and 3 years of 
            sales consulting experience. At the age of 16, I began scripting with the C programming language 
            before switching to Python a few years later ( during tertiary). My professional web development 
            career began in early 2018 as a freelancer, where I developed full stack web applications using Python,
            Flask, and other open source technologies.</p>

        <p>. During that period  (due to circumstances) I worked as a sales consultant for Dyson( 2016 - 2018)
            and Bosch BHS( 2018 - 2021 ),  I'm already freelancing on UPWORK and FIVERR, and I've had the distinction 
            of working with Dun Deft Pty Ltd, Synsource Inc, and Ekurhuleni West College as a full stack web developer. 
            I'm still working on my own professional project.</p>
    </div>

    <img src="/static/img/owen dev picture2.jpg" alt="" class="about-me__img">
</section>

<!-- my work -->
<!-- <section class="my-work" id="work">

    <h2 class="section__title section__title--work">My work</h2>
    <p class="section__subtitle section__subtitle--work"> Selection of the range of work I've done.</p>

    <!-- portfolio image -->
    <div class="portfolio">
        <a href="#" class="portfolio__item">
            <!-- <img src="/img/portfolio1.jpeg" alt="" class="portfolio__img"> -->
        </a>
    </div>

    <!-- portfolio image -->
    <div class="portfolio">
        <a href="#" class="portfolio__item">
            <!-- <img src="/img/aka-768x596.png" alt="" class="portfolio__img"> -->
        </a>
    </div>

    <!-- portfolio image -->
    <div class="portfolio">
        <a href="#" class="portfolio__item">
            <!-- <img src="/img/Newest-Free-Website-Template.jpg" alt="" class="portfolio__img"> -->
        </a>
    </div>

    <!-- portfolio image -->
    <div class="portfolio">
        <a href="#" class="portfolio__item">
            <!-- <img src="/img/aka-768x596.png" alt="" class="portfolio__img"> -->
        </a>
    </div>
</section> -->
<!-- footer -->

<footer class="footer">
    <a href="" class="footer__link">olwethuphakade@gmail.com</a>
    <ul class="social-list">
        <li class="social-list__item">
            <a href="https://github.com/owen-eternal" class="social-list__link">
                <i class="fab fa-github"></i>
            </a>
        </li>
        <li class="social-list__item">
            <a href="https://za.linkedin.com/in/owen-phakade-423862138" class="social-list__link">
                <i class="fab fa-linkedin"></i>
            </a>
        </li>
        <li class="social-list__item">
            <a href="https://www.youtube.com/channel/UClqqWKzYOxxSPl-R6hQ3TWg" class="social-list__link">
                <i class="fab fa-youtube"></i>
            </a>
        </li>
    </ul>
</footer>

<script src="static/js/index.js"></script>
</body>
</html>
